<div>
    <div nz-row nzJustify="space-between">
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="10" nzXl="12">
       <div class="ajuste">
        <div class="" style="width: 220px;">
          <img class="icon-menu" style="height: 48px" src="http://set-archivos-test.s3.amazonaws.com/logos/polis.png">
        </div>
        <div class="login">
        <div class="text-login">
          <p class="text-title">Restaurar contraseña</p>
          <p class="text-secundary">Tu nueva contraseña debe ser diferente a las contraseñas que has usado anteriormente.</p>
        </div>
        <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
          <label style="color: #80888e;">Nueva contraseña</label>
            <nz-form-item>
              <nz-form-control nzErrorTip="Please input your Password!">
                <nz-input-group nzPrefixIcon="lock" class="type-control">
                  <input type="password" nz-input formControlName="password" placeholder="Ingrese nueva contraseña" />
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
            <label style="color: #80888e;">Confirmar nueva contraseña</label>
            <nz-form-item>
              <nz-form-control nzErrorTip="Please input your Password!">
                <nz-input-group nzPrefixIcon="lock" class="type-control">
                  <input type="password" nz-input formControlName="passwordconfirmar" placeholder="Ingrese nueva contraseña" />
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
            <button nz-button class="login-form-button login-form-margin button-green" [nzType]="'primary'">Restaurar contraseña</button>
            <button nz-button class="login-form-button login-form-margin button-green" style="background-color: white; color: #00AE8D; border: none;" [nzType]="'primary'"><i nz-icon nzType="arrow-left" nzTheme="outline"></i> Volver al inicio</button>
          </form>
        </div>
        <nz-footer class="footer-login">
          <img src="../../../assets/v1.svg" alt="" style="margin: 0px 16px;"> © 2021 Extreme Technologies S.A.
        </nz-footer>
      </div>
    </div>
      <div nz-col nzXs="0" nzSm="0" nzMd="0" nzLg="10" nzXl="12">
        <div class="suppor-fondo">
       <!-- <div class="prueba"><img src="../../../assets/Vector.svg" alt="" class="prueba"></div> -->
        <nz-carousel nzAutoPlay nzAutoPlaySpeed=7000 >
          <div nz-carousel-content style="align-items: center;" *ngFor="let index of array">
            <div class="rectangle"></div>
            <div class="rectangle-dos"></div>
            <div class="text-suppor-text">
              <div class="title-suppor">
                  <p class="title-suppor-secundary">Conoce más sobre</p>
                  <h1 class="title-suppor-primary">XTICKETING</h1>
              </div>
              <img src={{index.image}} style="width: 270px; height: 270px; " alt="">
              <p class="suppor-parraf">{{ index.name }}</p>
            </div>
          </div>
        </nz-carousel>
      </div>
      </div>
    </div>
</div>

