.inner-content {
    padding: 24px;
    background: #fff;
    min-height: 762px;
    border: 1px solid #E9EEFA;
    box-sizing: border-box;
    border-radius: 8px;
    overflow-y: auto;
    height: 100vh;
  }